<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="welcome" data-view="Number"
                 data-title="My crazy number"
                 data-current="23"
                 data-shortenedNumber="3"
                 data-prefix="_"
                 data-suffix="~"
                 data-moreinfo="more"
            />
        </li>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="bamboo" data-view="BambooPlanWithBranches" data-title="data-title-bamboo" data-paragraph="data-paragraph-bamboo"/>
        </li>
    </ul>
</div>