<div class="gridster">
    <ul>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
            <div data-id="AP-SUCCEED"
                 data-view="Bamboo"
                 data-plan="Stage Build Example"
                 data-addclass-no-clue="bamboo_not_reachable"
                 data-addclass-plan-broken="any_plan_failed"
                 data-addclass-all-branches-green="no_plan_failed"
            ></div>
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="AP-FAIL"
                 data-view="Bamboo"
                 data-plan="Failing build example"
                 data-addclass-no-clue="bamboo_not_reachable"
                 data-addclass-plan-broken="any_plan_failed"
                 data-addclass-all-branches-green="no_plan_failed"
            ></div>
        </li>
    </ul>
</div>