*.iml
target/
*.zip
build/
.gradle
.idea/
*~
sandbox-grails/grails-1.3/version-2.1/plugins/
*.ipr
*.iws
.project
.settings/
gen/
bin/
.classpath
project.properties
out/
.vagrant

#librarian-puppet
Puppetfile.lock
.tmp/
