<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="mdcs"
                    converterClass="com.github.signed.boot.logfilter.MDCStructuralConverter"/>

    <property name="PATTERN" value="%mdcs{requestId:-renamed} %msg %n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>