.widget.widget-bamboo-plan-with-branches {
  vertical-align: top;
}

.widget-bamboo-plan-with-branches {

}

.plan {
  background: yellowgreen;
}

.plan-broken {
  background: red;
}

.no-clue {
  background: gray;
}

.failed-branches {
  text-align: left;
}