<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%X{X-Trace-ID}] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="sample.LogbookTracerBootApplication" level="INFO"/>
    <logger name="org.zalando.tracer.Tracer" level="INFO"/>
    <root level="off">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>