.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node--root circle {
    fill: brown;
}

.node--leaf circle {
    fill: green;
}

.node text {
    font: 12px sans-serif;
}

.node--trunk text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}