.molten-button-bar-button-left {
    -fx-padding: 5;
    -fx-border-image-source: url("left-button.png");
    -fx-border-image-slice: 4 4 4 4 fill;
    -fx-border-image-width: 4 4 4 4;
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-background-color: null !important; 
}
.molten-button-bar-button-left:selected { -fx-border-image-source: url("left-button-toggled.png"); }
.molten-button-bar-button-left .label {
    -fx-text-fill: #d3d3d3; 
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.75) , 0, 0.0 , 0 , -1 );
}

.molten-button-bar-button-left:selected .label {
   /* -fx-text-fill: black; */
   -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
.molten-button-bar-button-center {
    -fx-padding: 5;
    -fx-border-image-source: url("middle-button.png");
    -fx-border-image-slice: 4 4 4 4 fill;
    -fx-border-image-width: 4 4 4 4;
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-background-color: null !important;
}
.molten-button-bar-button-center:selected { -fx-border-image-source: url("middle-button-toggled.png"); }
.molten-button-bar-button-center .label {
    -fx-text-fill: #d3d3d3;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.75) , 0, 0.0 , 0 , -1 );
}
.molten-button-bar-button-center:selected .label {
    -fx-text-fill: black;
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
.molten-button-bar-button-right {
    -fx-padding: 5;
    -fx-border-image-source: url("right-button.png");
    -fx-border-image-slice: 4 4 4 4 fill;
    -fx-border-image-width: 4 4 4 4;
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-background-color: null !important;
}
.molten-button-bar-button-right:selected { -fx-border-image-source: url("right-button-toggled.png"); }
.molten-button-bar-button-right .label {
    -fx-text-fill: #d3d3d3;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.75) , 0, 0.0 , 0 , -1 );
}
.molten-button-bar-button-right:selected .label {
    -fx-text-fill: black;
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
