.molten-button-bar-button-middle{
    -fx-background-radius:0;
}
.molten-button-bar-button-right{
    -fx-background-radius:0 5 4 0;
}
.molten-button-bar-button-left{
    -fx-background-radius:5 0 0 3;
}